In [3]:
%load_ext google.cloud.bigquery

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [11]:
%%bigquery
SELECT Status,
       COUNT(*) AS N
FROM crawl.ausbt_19_07_02T15_01
GROUP BY Status
ORDER BY Status ASC

                  Status     N
0                 200 OK  2490
1  301 Moved Permanently    62
2              302 Found     2

In [7]:
%%bigquery
SELECT BodyTextHash,
       ARRAY_AGG(Address.Full) AS Instances,
       COUNT(*) AS N
FROM crawl.ausbt_19_07_02T15_01
WHERE BodyTextHash IS NOT NULL AND
      StatusCode = 200
GROUP BY BodyTextHash
ORDER BY N DESC
LIMIT 5

,BodyTextHash,Instances,N
0,AJJ5GD0eNBJEgIM5oc2/6I78YFG3rfJniIez31kUsSbmH6...,[https://www.ausbt.com.au/community/topics/24/...,1
1,RtVbPzxzTLHYOLdKkMipm2GEBrZxLT1sfpZi6ISACKVbHw...,[https://www.ausbt.com.au/community/topics/22/...,1
2,PHD8TSoR9Ggi+DSPqRIBXqWN828kHwBGB0DppBeg2p0g+7...,[https://www.ausbt.com.au/community/topics/25/...,1
3,HSCeznjulnOi/qthIjtDEFN8DJqO5hPXFIostg650D+bsE...,[https://www.ausbt.com.au/community/topics/21/...,1
4,Ue9z031+4H9NnGb4a+SYF3qSpZaFH9aDyo6rZJ8CMCq/bs...,[https://www.ausbt.com.au/community/topics/16/...,1

In [12]:
%%bigquery
SELECT Address.Path
FROM crawl.ausbt_19_07_02T15_01
WHERE StatusCode = 301
LIMIT 10

                                                Path
0  /community/view/13/8686/business-class:-qantas...
1  /community/view/42/8549/qantas-bid-upgrades:-d...
2  /community/view/13/8545/flying-air-canada-as-v...
3  /community/view/59/8340/singapore-airlines-cas...
4  /community/view/18/8351/va6-los-angeles-to-bri...
5  /community/view/17/8408/asia-miles:-success-wi...
6  /community/view/42/8735/sc-earn-rate-disparity...
7  /community/view/30/8584/cathay-pacific-or-sing...
8  /community/view/14/8726/which-is-less-difficul...
9  /community/view/42/8484/qantas-flights-to-new-...